.wrapper {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.nav {
    list-style: none;
    display: flex;
    justify-self: center;
    align-self: center;
    font-family: 'PT Sans Caption';
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 100%;
    justify-content: center;
}
.nav_item{
    margin: 0 30px;
    cursor: pointer;
}
.icons {
    font-size: 30px;
    width: auto;
    display: flex;
    align-items: center;
}
.icon {
    margin-left: 14px;
}
.media_wrapper {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 450px) {
    .nav {
       flex-direction: column;
    }
    .media_wrapper {
        flex-direction: column;
    }
    .nav {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .nav_item{
        margin: 0;
    }
    .icons {
        justify-self: flex-start;
        align-self: flex-start;
    }
    .wrapper {
        padding: 0 30px;
    }
    .logo {
        margin-bottom: 10px;
    }
}
